<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <title>Home</title>
</head>
<body>
    <div align="right">
    <p><h4>Welcome, {{ user }}</h4></p>
    </div>
    <hr>
    
    <div>Your categories:</div>
    <div align="center">
    {% for category in old_categorys %}
        {% if category.name %}
            <form action="/editCategory" method="post">
                <div>
                    <input type="hidden" name="editedCategory" value="{{category.key}}"/>
                    <input type="text" name="category" value="{{category.name}}"/>
                    <input type="submit" name='submit' value="Edit"/>
                    <input type="submit" name='submit' value="Delete"/>
                </div>
            </form>
         {% endif %}
    {% endfor %}
    </div>
    <hr>
    <p>New Category Name:</p>
    <div align="center">
    <form action = "/addCategory" method = "post">
        <div><input type=textarea name="categoryToAdd"></div>
        <div><input type="submit" value="Add Category"></div>
    </form>
    <a href="/">Back to Home</a>
    </div>    
</body>
</html>
