<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <title>Home</title>
</head>
<body>
    <div align="right">
        <p><h4>Welcome, {{ user }}</h4></p>
    </div>
    <hr>
    <div>Choose a category to export XML file</div>
    <form action="/chooseCategoryToXML" method="get">
        {% for category in categories %}
            {% if category.name %}
                <p><input type="radio" name="category_key" value="{{ category.key }}"/>{{ category.name }}</p>
            {% endif %}
        {% endfor %}
        <div><input type="submit" name="{{ action }}" value="Choose To Export"></div>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>
