<html>
<head>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  <title>Home</title>
</head>
<body>
    <div align="right">
        <p><h4>Welcome, {{ user }}</h4></p>
    </div>
    <hr>
    <form action = "/categoryXML" method="get">
    <div align ="center">
        <p><input type="hidden" name="category" value="{{category.key}}"/></p>
    <div>Category:{{category.name}}</div>
        {% for item in category.items %}
            {% if item.name %}
                <p>{{ item.name }}</p>
            {% endif %}
        {% endfor %}
        <div><input type="submit" name="xml" value="DownLoad XML"/></div>
    </form>
        <hr>
<a href="/">Back to Home</a>
</body>
</html>
